.jumbotron {
  background-color: #FFFFFF;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn {
  background-color: green;
  color: White; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  magin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
