@Amarillo: #e3f51d;

.mixin margenes(@top :0px, @bottom : 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @Amarillo;
    color: black;
    .margenes(50px, 0px) }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @Amarillo;
    .margenes(10px, 0px)
} }
  
  .btn {
    background-color: green;
    color: White; }
  
  .card-hotel {
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }