$Amarillo: #FFF000;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
	background-color: $Amarillo;
	color: black;
	@include margenes(50px,0px )
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $Amarillo;
	@include margenes(10px,0px);
}

.btn {
	background-color: green;
	color: White;
}

.card-hotel {
	flex: 1 200px;
	padding: 2px 5px 2px 5px;	
	magin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
	
}

.tab-content {
	padding-top: 10px;
}